@media screen and (max-width: 1288px) {
    .card_wrapper{
        width: calc((100% / 4) - 20px);
    }    
    
}

@media screen and (max-width: 966px) {
    .card_wrapper{
        width: calc((100% / 3) - 20px);
    }   
    
}

@media screen and (max-width: 900px) {
    .card_wrapper{
        width: calc((100% / 2) - 20px);
    }   
    
}

@media screen and (max-width: 690px) {
    .logo_aside img{
        margin-left: 0;
    }
    
    aside{
        width: 50px;
        padding: 8px 0;
        align-items: center;
    }

   .menu_aside span{
       display: none;
   }

   .menu_aside{
       align-items: center;
   }

   .menu_aside li i{
       padding-right: 0;
   }

    .menu_playlist_aside{
        display: none;
    }

    .menu_aside{
        flex-grow: 1;
    }

    .menu_profilo_aside .download_app span,
    .menu_profilo_aside .profilo span{
        display: none;
    }

    .menu_profilo_aside{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu_profilo_aside .download_app i{
        padding-right: 0;
    }

    .menu_profilo_aside .profilo img{
        margin-right: 0;
    }

    .menu_profilo_aside hr{
        display: none;
    }

    .logo_aside .logo{
        display: none;
    }

    .logo_aside .logo_small{
        display: block;
        width: 30px;
        height: 30px;
    }

    .brano picture img{
        width: 25px;
        height: 25px;
    }
}

@media screen and (max-width: 700px) {
    .brano .icon_like{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    
}


@media screen and (max-width: 665px) {
    .brano .nome_brano p{
        max-width: 50px;
    }
    
}

@media screen and (max-width: 620px) {
    .riproduzione .icon_riproduzione{
        gap: 5px;
    }
    
    .volume{
        gap: 5px;
    }
    
}

@media screen and (max-width: 485px) {
    .card_wrapper{
        width: calc(100% - 20px);
    }
    
}

@media screen and (max-height: 195px) {
    .upgrade{
        display: none;
    }
    
}