/* Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: white;
}
/* -------------------------------------------- */

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Sidebar Sinistra */
aside{
    border: 2px solid orange;
    background-color: #000000;
    width: 230px;
    height: calc(100% - 88px);
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.logo_aside img{
    width: 150px;
    height: 50px;
    display: block;
    flex-shrink: 0;
    margin-left: 5px;
    margin-bottom: 20px;
}

.menu_aside{
    list-style: none;
    display: flex;
    flex-direction: column;
}

.menu_aside li{
    margin-bottom: 15px;
    color: #aaa;
    font-size: 14px;
}

.menu_aside li:last-child{
    margin-bottom: 22px;
}

.menu_aside li i{
    font-size: 22px;
    color: #aaa;
    padding-right: 8px;
}

.menu_playlist_aside{
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.menu_playlist_aside h1{
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 10px;
}

.menu_playlist_aside li{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #aaa;
    margin-bottom: 15px;
    font-size: 14px;
}

.menu_playlist_aside li:last-child{
    margin-bottom: 0;
}

.icon_playlist i{
    font-size: 45px;
    color: #aaa;
    padding-right: 8px;
}

.menu_profilo_aside .download_app{
    color: #aaa;
    margin-bottom: 10px;
}

.menu_profilo_aside .download_app i{
    color: #aaa;
    padding-right: 12px;
}

.menu_profilo_aside hr{
    border: 1px solid #aaa;
    margin-bottom: 15px;
    
}

.menu_profilo_aside .profilo img{
    width: 30px;
    height: 30px;
    background-color: #aaa;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
}

.menu_profilo_aside .profilo{
    vertical-align: middle;
    font-weight: bold;
    font-size: 18px;
}

/* Contenuto Parte destra */
main{
    border: 2px solid magenta;
    background-color: #141922;
    flex-grow: 1;
    height: calc(100% - 88px);
}

.upgrade{
    background-color: #080b12;
    width: 100%;
    height: 88px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.upgrade button{
    background-color: transparent;
    border: 1px solid white;
    padding: 10px 40px;
    border-radius: 23px;
    text-transform: uppercase;
    font-weight: bold;
}

/* Footer */
footer{
    border: 2px solid green;
    background-color: #282828;
    width: 100%;
    height: 88px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.brano{
    border: 1px dashed orange;
    display: flex;
    align-items: center;
    gap: 20px;
    width: 245px;
    flex-shrink: 0;
}

.brano img{
    width: 45px;
    height: 45px;
    display: block;
}

.brano .nome_brano h2{
    font-size: 14px;
}

.brano .nome_brano p {
    font-size: 14px;
    color: #aaa;
}

.brano .nome_brano{
    margin-right: 15px;
}

.brano .icon_like i{
    color: #aaa;
    margin-right: 10px;
}

.riproduzione{
    border: 1px dashed orange;
    width: 597px;
}

.riproduzione .icon_riproduzione{
    list-style: none;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}

.riproduzione .icon_riproduzione i{
    font-size: 20px;
}

.icon_riproduzione .far.fa-play-circle{
    font-size: 30px;
}

.advanced{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.advanced .time{
    font-size: 12px;
}

.advanced .time_line{
    width: 430px;
    height: 5px;
    background-color: #aaa;
    border-radius: 5px;
}

.volume{
    border: 1px dashed orange;
    width: 230px;
}

