/* Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: white;
}
/* -------------------------------------------- */

body{
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Sidebar Sinistra */
aside{
    border: 2px solid orange;
    background-color: #000000;
    width: 230px;
    padding: 15px;
}

.logo_aside img{
    width: 150px;
    height: 50px;
    display: block;
    flex-shrink: 0;
    margin-left: 5px;
    margin-bottom: 30px;
}

.menu_aside{
    list-style: none;
    display: flex;
    flex-direction: column;
}

.menu_aside li{
    margin-bottom: 15px;
    color: #aaa;
}

.menu_aside li:last-child{
    margin-bottom: 35px;
}

.menu_aside li i{
    font-size: 22px;
    color: #aaa;
    padding-right: 8px;
}

.menu_playlist_aside{
    list-style: none;
    display: flex;
    flex-direction: column;
}

.menu_playlist_aside h1{
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 15px;
}

.menu_playlist_aside li{
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #aaa;
}

.icon_playlist i{
    font-size: 45px;
    color: #aaa;
    padding-right: 8px;
}


/* Contenuto Parte destra */
main{
    border: 2px solid magenta;
    background-color: #141922;
    padding: 10px;
    flex-grow: 1;
}

/* Footer */
footer{
    border: 2px solid green;
    background-color: #282828;
    width: 100%;
    height: 88px;
    padding: 10px;

}